$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Khula', sans-serif;
  background-color: black;
  text-align: center;
  margin: auto;
  background-image: url(https://i.imgur.com/ul8Cu2l.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: darkgrey;
  font-size: 100px;
  text-align: center;
  font-family: 'Nosifer', cursive;
  font-weight: 900;
  padding-top: 80px;
  padding-bottom: 80px;
}

h2, h4{
color: white;
text-align: center;
font-family: 'Bevan', cursive;
font-weight: 600;
}

h3{
font-family: 'Bevan', cursive;
color: white;
text-align: center;
}

#about{
    margin-top: 50px;
     margin-right: 50px;
     position:absolute;
     top:0;
     right:0;
     font-family: 'Bevan', cursive;
}
#sign-out{
  margin-top: 50px;
   margin-right: 150px;
   position:absolute;
   top:0;
   right:0;
   font-family: 'Bevan', cursive;
}

#change-password{
  margin-top: 50px;
  margin-right: 150px;
  position:absolute;
  top:0;
  left:10;
}

#message{
  font-family: 'Bevan', cursive;
  color: rgba(64, 75, 96, 0.87);
}

#change-password{
  display:none
}

#sign-out{
display:none
}

#list-body{
display:none
}

#back{
display:none
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
  width: 100%;
  // position: absolute;
  bottom:0;
}

#footerwrap p {
	margin-left: 10px;
  font-size: 15px;
font-family: 'Bevan', cursive;
color: white;
}

#form-group{
  width: 600px;
}

.btn-primary, #list-button, .edit-movie, .delete-movie{
    background-color: red !important;
    border-color: black !important;
    font-family: 'Khula', sans-serif !important;
    font-weight: 700 !important;
}
#fieldset {
  background-color: rgba(105, 107, 112, 0.53) !important;
  border-color: black !important;
}
#instruction{
  font-family: 'Khula', sans-serif;
  color: white;
}

#btn-xs, #btn-sm, .edit-movie-button, .delete-movie{
  background-color: rgba(105, 107, 112, 0.7) !important;
  border-color: black !important;
  font-family: 'Khula', sans-serif !important;
}

h5{
  font-family: 'Bevan', cursive;
  color: rgba(64, 75, 96, 0.87);
  font-size: 18px;
  padding: 80;
}

#list-body{
  display: none;
}

.textboxclass {
height: 40px;
width: 400px;
text-align: center;
font-family: 'Bevan', cursive;
font-family: 'Neuton', serif;
font-size: 9px;
}

.textbox {
height: 40px;
width: 200px;
text-align: center;
color: rgba(64, 75, 96, 0.7);
font-family: 'Bevan', cursive;
font-size: 9px;
}

.password_textbox{
  height: 20px;
  width: 150px;
  text-align: center;
  font-family: 'Bevan', cursive;
  color: rgba(64, 75, 96, 0.7);
  font-size: 9px;
}

li{
list-style-type: none;
font-size: 18px;
color: white;
background-color: black;
text-align: center;
}

fieldset{
  background-color: black;
}

.modal-body{
  font-size: 25px;
  font-family: 'Bevan', cursive;
}

.edit-movie{
  display:none;
}

#list{
  overflow: auto
}
